{% extends 'base.html.twig' %}
{% block title %}Publier une annonce — Bénéto{% endblock %}
{% block body %}
    <div class="card">
        <h1 style="margin-bottom:12px;">Publier une annonce</h1>
        {{ form_start(form) }}
            {{ form_row(form.titre) }}
            {{ form_row(form.description) }}
            {{ form_row(form.theme) }}
            {{ form_row(form.ville) }}
            <button class="btn" type="submit">Publier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
